<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.fedecalendino.alfred-emoji-mate</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>98FFB671-15EA-49E0-AA9B-77570204157B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F6B084F-ECB0-4573-B67E-E110AEB00649</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fede Calendino</string>
	<key>description</key>
	<string>Quickly search for emojis 🧉️</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Emoji Mate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1F6B084F-ECB0-4573-B67E-E110AEB00649</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching for emojis...</string>
				<key>script</key>
				<string>/usr/bin/python3 ./dist/main.py $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>For example: mate</string>
				<key>title</key>
				<string>Input text to search emojis</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>98FFB671-15EA-49E0-AA9B-77570204157B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Quickly search for emojis 🧉️</string>
	<key>uidata</key>
	<dict>
		<key>1F6B084F-ECB0-4573-B67E-E110AEB00649</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>98FFB671-15EA-49E0-AA9B-77570204157B</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>;</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword to quickly search for emojis.</string>
			<key>label</key>
			<string>Emoji Mate Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>en</string>
				<key>pairs</key>
				<array>
					<array>
						<string>🇬🇧 English</string>
						<string>en</string>
					</array>
					<array>
						<string>🇩🇪 Deutsche</string>
						<string>de</string>
					</array>
					<array>
						<string>🇪🇸 Español</string>
						<string>es</string>
					</array>
					<array>
						<string>🇫🇷 Français</string>
						<string>fr</string>
					</array>
					<array>
						<string>🇮🇹 Italiano</string>
						<string>it</string>
					</array>
					<array>
						<string>🇵🇹 Português</string>
						<string>pt</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Select the language you prefer.
note: not all emojis are available in all languages.</string>
			<key>label</key>
			<string>Language</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>LANG</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Medium-Light</string>
				<key>pairs</key>
				<array>
					<array>
						<string>👍 None</string>
						<string>None</string>
					</array>
					<array>
						<string>👍🏻 Light</string>
						<string>Light</string>
					</array>
					<array>
						<string>👍🏼 Medium-Light</string>
						<string>Medium-Light</string>
					</array>
					<array>
						<string>👍🏽 Medium</string>
						<string>Medium</string>
					</array>
					<array>
						<string>👍🏾 Medium-Dark</string>
						<string>Medium-Dark</string>
					</array>
					<array>
						<string>👍🏿 Dark</string>
						<string>Dark</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Default skin tone for emojis</string>
			<key>label</key>
			<string>Skin Tone</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>SKIN_TONE</string>
		</dict>
	</array>
	<key>version</key>
	<string>2.0.3</string>
	<key>webaddress</key>
	<string>https://github.com/fedecalendino/alfred-emoji-mate</string>
</dict>
</plist>
