<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.fedecalendino.alfred-emoji-mate</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>B1B0F8E3-DB09-480B-8586-175AE65502C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3049A585-CD5B-4966-8C53-B7B5A5AA23CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fede Calendino</string>
	<key>description</key>
	<string>Search emojis 🧉</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Emoji Mate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>;</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python3 ./main.py $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>for example: mate</string>
				<key>title</key>
				<string>Input text to search emojis</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B1B0F8E3-DB09-480B-8586-175AE65502C7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3049A585-CD5B-4966-8C53-B7B5A5AA23CE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search for emojis
=================

SKIN_TONE possible values
	🏻 Light
	🏼 Medium-Light
	🏽 Medium
	🏾 Medium-Dark	
	🏿 Dark</string>
	<key>uidata</key>
	<dict>
		<key>3049A585-CD5B-4966-8C53-B7B5A5AA23CE</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>B1B0F8E3-DB09-480B-8586-175AE65502C7</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>SKIN_TONE</key>
		<string>Medium-Light</string>
	</dict>
	<key>version</key>
	<string>2.0</string>
	<key>webaddress</key>
	<string>https://github.com/fedecalendino/alfred-emoji-mate</string>
</dict>
</plist>
