alfred-pyflow==0.4.6 ; python_version >= "3.8" and python_version < "3.12"
certifi==2023.11.17 ; python_version >= "3.8" and python_version < "3.12"
charset-normalizer==3.3.2 ; python_version >= "3.8" and python_version < "3.12"
emoji==2.10.1 ; python_version >= "3.8" and python_version < "3.12"
fuzzywuzzy==0.18.0 ; python_version >= "3.8" and python_version < "3.12"
idna==3.6 ; python_version >= "3.8" and python_version < "3.12"
requests==2.31.0 ; python_version >= "3.8" and python_version < "3.12"
urllib3==1.26.6 ; python_version >= "3.8" and python_version < "3.12"
